{% extends "base.html" %}

{% macro percent(numerator, denominator) %}
  {% if denominator %}
    ({{ '%.0f' % ((numerator / denominator) * 100) }}%)
  {% else %}
    &nbsp;
  {% endif %}
{% endmacro %}

{% block main %}
  {% if user_first and user_last %}
    <p>Dear {{ user_first }} {{ user_last }},</p>
  {% else %}
    <p>Dear {{ user_name }},</p>
  {% endif %}

  <p>
    This is a reminder that the <em>{{ req_team }}</em> team's HPC allocation
    <strong>"{{ req_title }}"</strong> (ID: {{ req_id }}) expired on
    <strong>{{ req_expire.strftime('%B %d, %Y') }}</strong>. Moving forward,
    any unused service units granted by this allocation are no longer usable
    by your team.
  </p>

  <p>
    The table below summarizes your team's total resource usage under this allocation:
  </p>

  <table style="width: 100%; border-collapse: collapse; font-family: sans-serif; font-size: 14px;">
    <thead>
    <tr style="background-color: #f2f2f2;">
      <th style="text-align: center; padding: 8px; border: 1px solid #ccc;">Cluster</th>
      <th style="text-align: center; padding: 8px; border: 1px solid #ccc;">Awarded SUs</th>
      <th style="text-align: center; padding: 8px; border: 1px solid #ccc;">Utilized SUs</th>
    </tr>
    </thead>
    <tbody>
    {% for alloc in allocations %}
      <tr>
        <td style="text-align: center; padding: 8px; border: 1px solid #ccc;">
          {{ alloc.alloc_cluster }}
        </td>
        <td style="text-align: center; padding: 8px; border: 1px solid #ccc;">
          {{ "{:,}".format(alloc.alloc_awarded) }}
        </td>
        <td style="text-align: center; padding: 8px; border: 1px solid #ccc;">
          {{ "{:,}".format(alloc.alloc_final) }} {{ percent(alloc.alloc_final, alloc.alloc_awarded) }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <p style="padding-top: 10px">
    <strong>What Does This Mean</strong>
  </p>

  <p>
    On {{ req_active.strftime('%B %d, %Y') }} your team was granted the
    service unit allocation listed above. This allocation expired on
    {{ req_expire.strftime('%B %d, %Y') }} and any unused service units
    are no longer available for use.
  </p>

  <p>
    Any resources granted to your team by other allocation requests remain
    unaffected. The system will automatically apply as much of your system
    usage as possible to the expiring request, maximizing the total service
    units available in any remaining allocations.
  </p>

  <p style="padding-top: 10px;">
    <strong>Recommended Actions</strong>
  </p>

  {% if upcoming_requests %}
    <p>
      The following table includes all allocations currently associated with
      the <em>{{ req_team }}</em> team. Please take a moment to review
      each allocation and confirm your team has sufficient resources moving
      forward. If your team anticipates needing resources beyond those listed
      below, please have a team administrator submit a new allocation request
      at their earliest convenience.
    </p>

    <table
        style="width: 100%; border-collapse: collapse; table-layout: fixed; font-family: sans-serif; font-size: 14px;">
      <thead>
      <tr style="background-color: #f2f2f2;">
        <th style="width: 8%; text-align: center; padding: 8px; border: 1px solid #ccc;">ID</th>
        <th style="width: 30%; text-align: left; padding: 8px; border: 1px solid #ccc;">Title</th>
        <th style="width: 12%; text-align: center; padding: 8px; border: 1px solid #ccc;">Status</th>
        <th style="width: 16%; text-align: center; padding: 8px; border: 1px solid #ccc;">Submitted</th>
        <th style="width: 16%; text-align: center; padding: 8px; border: 1px solid #ccc;">Begins</th>
        <th style="width: 16%; text-align: center; padding: 8px; border: 1px solid #ccc;">Expires</th>
      </tr>
      </thead>
      <tbody>
      {% for req in upcoming_requests %}
        <tr>
          <td style="text-align: center; padding: 8px; border: 1px solid #ccc;">
            {{ req.id }}
          </td>
          <td style="text-align: left; padding: 8px; border: 1px solid #ccc; overflow-wrap: break-word; word-break: break-word;">
            {{ req.title }}
          </td>
          <td style="text-align: center; padding: 8px; border: 1px solid #ccc;">
            {{ req.status }}
          </td>
          <td style="text-align: center; padding: 8px; border: 1px solid #ccc;">
            {{ req.submitted.strftime('%B %d, %Y') if req.submitted else '—' }}
          </td>
          <td style="text-align: center; padding: 8px; border: 1px solid #ccc;">
            {{ req.active.strftime('%B %d, %Y') if req.active else '—' }}
          </td>
          <td style="text-align: center; padding: 8px; border: 1px solid #ccc;">
            {{ req.expire.strftime('%B %d, %Y') if req.expire else '—' }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  {% else %}
    <p>
      The <em>{{ req_team }}</em> team has no upcoming or active allocation requests beyond the one described above.
      If your team requires additional service units, please have a team administrator submit a new allocation request
      at their earliest convenience.
    </p>

    <p>
      If your team does not require additional service units, then no action is required at this time.
    </p>
  {% endif %}

  <p style="padding-top: 10px;">
    Best regards,<br>The Keystone HPC Utility
  </p>
{% endblock %}
