{% extends "base.html" %}

{% block main %}
  {% if user_first and user_last %}
    <p>Dear {{ user_first }} {{ user_last }},</p>
  {% else %}
    <p>Dear {{ user_name }},</p>
  {% endif %}

  <p>
    This is an automated notification that the HPC allocation request <strong>"{{ req_title }}"</strong>
    (ID: {{ req_id }}) is scheduled to expire in {{ req_days_left }} days on {{ req_expire.strftime('%B %d, %Y') }}.
    On this day, any unused computational time granted by the request will no longer be available for use.
  </p>

  <p>
    Your team may continue to submit jobs and leverage any allocated service units up to the expiration date.
    If your team has HPC resources granted under a different allocation request, access to those resources will remain
    unaffected.
  </p>

  <p>
    For any additional questions, please contact your system administrator(s).
  </p>

  <p style="padding-top: 10px">
    Sincerely,<br>The Keystone HPC Utility
  </p>
{% endblock %}
